.event-card {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 360px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.event-card h3 {
  /* outline: 1px solid red; */
}

.event-card:hover {
  transform: scale(1.1);
}
