.landing-page-container {
  background-image: url("https://media.giphy.com/media/blSTtZehjAZ8I/giphy.gif");
  /* background-size: cover; */
  text-align: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}
